:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{

    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color:white;

    padding: 12px 40px;
}

.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 5px 0px;
}

.logo{
    font-family: 'League Gothic', sans-serif;
    font-size: 60px;

    color: var(--vermelho);
}

nav a{
    text-decoration: none;
    color: #aaa;
    cursor: pointer;

    margin: 0px 8px;
}

nav a:hover{
    color: #fff;
}

.filme-principal{
    font-size: 16px;

    margin: 5px 0px 30px;

    height: 70vh;

    background: linear-gradient(rgba(0,0,0,.70),rgba(0,0,0,.70)50%), url('../img/capa-house.jpg');
    background-size:  cover ;
    background-repeat: no-repeat;
}

.info-filme{
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-filme h2{
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.info-filme p{
    margin-bottom: 48px;

    font-size: 16px;
}

.botoes{
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-bottom: 15px;
}

.info-filme button{
    all: unset;
    cursor: pointer;
    border-radius: 3px;
    
    min-width: 200px;
    min-height: 46px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgba(0,0,0,.90);
    color: white;
    
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


    margin-bottom: 5px;

    transition: 0.4s ease all;
}


.info-filme button:hover{
    font-weight: bold;

    background-color:
    rgba(255, 255, 255, 0.90);
    color:
    rgba(0,0,0);
}

i{
    margin-right: 8px;
}

.ps10{
    padding: 0px 20px;
}

item .img{
    height: 100%;
    width: 100%;

    display: block;
}
